<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>I'm Andy Delgado</p>
    <p>I'm an aspiring web developer, focused on <a href="#">a link</a> Ruby on Rails.</p>
    <p>I'm also a dedicated husband and father of 2.</p>
  </div>
  <div class="col-2 homepage_content">
    <h2>My Writing</h2>
    <hr>

    <% @posts.each do |post| %>
      <h3><%= link_to post.title, post %></h3>
      <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
    <% end %>
  </div>
  <div class="col-3 homepage_content">
    <h2>My Projects</h2>
    <hr>
    <h3><a href="#">The DO list</a></h3>
    <p class="date">Friday April 10th</p>
    <h3><a href="#">How do I learn "X"?</a></h3>
    <p class="date">Friday April 10th</p>
    <h3><a href="#">Strive for the uncomfortable</a></h3>
    <p class="date">Friday April 10th</p>
  </div>
</div>
